<div class="col-md-6 col-md-offset-3">
    <h1>Home</h1>
    <p>You're logged in with JWT!!</p>
    <div>
        User details from secure API end point:
        <ul>
            <div>
              <li>Logged in as {{userString}}.</li>
            </div>
            <div *ngIf="tokenStrings != 0">
                <li *ngFor="let token of tokenStrings">{{token}}</li>
            </div>
        </ul>
    </div>
    <div>
       Testing public Uber API:
       <li>{{uberString}}</li>
    </div>
    <p><a [routerLink]="['/login']">Logout</a></p>
</div>
